*,a{
    text-decoration: none;
    list-style: none;
    margin: 0%;
    color: rgb(252, 251, 251);
   
}
.nav1{
    position: fixed;
    text-transform:capitalize;  
    display: flex;
    justify-content:space-between;
    align-content:center;
    height: 100px;
    width: 100%;
    background-color:#1b2a36;
    z-index: 1000;
}
.nav-logo{
    display: flex;
    font-size: 50px;
    font-weight:bold;
}
.nav-logo img{
    height: 100px;
}
.logo-con{
    position: relative;
    right: 10px;
    top: 5px;
    text-shadow: 0px 2px 2px red;
}
.nav-content{
    display: flex;
    align-items:center;
    margin-top: 100px;
}
.nav-content li{
    position: relative;
}
.nav-content ul{
    display:flex;
margin-bottom: 100px;
    font-size: 25px;
}
.nav-content span{
    position: relative;
    bottom: 50px;
}
.nav-content ul li{
   
    margin-right: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 25px rgb(247, 53, 4);
    transition: 0.3s;
     
}
.nav-content .drop ul{
    display: block;
  position: absolute;
 
  opacity: 0;
  visibility: hidden;
  background-color: #FDFFC2;
  border-radius: 10px;
  border: 2px solid honeydew;
  
  box-shadow: 0px 5px 25px orange;
  
}
.nav-content .drop:hover ul{
    visibility: visible;
    top: 100%;
    transition: 0.3s;
    opacity: 1;
}
.nav-content span{
    background-color: #FF204E;
    font-weight: bold;
 border: 2px solid;
 padding: 10px;
 margin-right: 10px;
 border-radius: 10px;
 box-shadow:0px 0px 15px cyan;
}
.over:hover,
li:hover{
    font-size:30px ;    
    color:#FF204E;
}

/* hero */
.hero{
    height: 600px;
    background-image: url("https://res.cloudinary.com/djorcowsj/image/upload/v1716105488/classroom1_udf6mq.png");
    background-size: cover;
    background-repeat: no-repeat;
}
/* hero end */


/* projects */
.project-con{
    height: 60px;
    background-color: #485769;
    font-weight:bolder;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
}
.projects-cards{
    display: flex;
    justify-content:space-evenly;
    background-color: #232F3E;
    padding-bottom: 40px;
    padding-left: 50px;
}
.projects-cards img{
    height: 100%;
    width: 80%;
    border-radius: 20px;
}

.projects .project{
    margin-top: 50px;
    height: 300px;
    width: 300px;

}
.projects .project span{
padding-left: 80px;
text-shadow: 2px 3px 10px red;
    
}









/* team */
.team{
    height: 550px;
    background-color: #232F3E;
    

}
.teamcard{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
.team-con{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    background-color: #485769;
    padding: 20px;
}
#team-img{
    height: 400px;
    width: 300px;
    border: 2px solid wheat;
   /* margin-left: 500px;
   margin-top: 10px; */
   display: flex;
   flex-direction: column;
   line-height:50px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bolder;
    background-color: #485769;
}
.name{
    font-size: 25px;
}
#team-img img{
    height: 50%;
    width: 80%;
    padding: 5%;
    padding-left: 22px;
}
/* team end */
.footerback{
    height: 50px;
    background-color: #091b41;
    text-align: center;
    padding-top: 10px;
}
/* footer */
.footer1{
    background-color:#131A22;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    
}
.footer-logo{
    padding: 10px;
    width: 300px;
    height: 200px;
    line-height: 40px;
    margin-top: 100px;
}

.footer-logo img{
    height: 60px;
  width:70px;
}
.footer-logo .logo span{
    font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
    position:relative;
    top: 5px;
}
.social-links{
    letter-spacing: 10px;
}
.footer-con{
    line-height: 40px;
    margin-top: 110px;
}
.footer-con h3{
    color: darkcyan;
}
.footer-con2{
    display: flex;
    flex-direction: column;
}

.copyrights{
    height: 40px;
    background-color: #131A22;
    text-align: center;
    padding-top: 10px;
}


/* mobile view */
@media(max-width:1065px){
    .footer1{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .footer-con{
        margin: 0%;
    }
    .footer-con3{
        padding-left: 50px;
        align-items: center;
        align-content: center;
    }
    .projects-cards{
        flex-direction: column;
        align-items: center;
    }

    .nav-logo{
        padding-top: 20px;
        font-size: 30px;
    }
    .nav-logo img{
        height: 60px;
    }
    .nav-content{
       display: flex;
       flex-direction: column;
    }
    .nav-content ul{
        flex-direction: column;
    }


}


